@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

a {
    color: black;
}

.banner1 {
    position: relative;
}

.banner1-img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.banner1-title-subtitle {
    position: absolute;
    top: 24%;
}

.banner1-title {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 900;
    height: 72px;
}
.banner1-subtitle {
    color: #aeaeae9a;
    text-align: center;
    letter-spacing: 2px;
}
.banner1-links {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #FFFFFF;
    top: 50%;
}
.banner1-link1 {
    border: 2px solid #FFFFFF;
    padding: 16px 26px;
    border-radius: 30px;
    font-weight: 700;
}
.banner1-link {
    color: #aeaeae9a;
    font-weight: 700;
    cursor: pointer;
    padding: 18px 28px;
}

.banner1-link:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 16px 26px;
    border-radius: 30px;
    font-weight: 700;
}


.main-banner-2-3 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
    align-items:flex-start
}
.banner3,
.banner2 {
    display: grid;
    margin:40px 40px 20px 0;
}
.banner2-title {
    font-size: 40px;
    color: #313131;
}
.banner2-subtitle {
    font-size: 16px;
    color: #313131;
    margin-bottom: 30px;
}
.banner2-text {
    font-size: 13px;
    margin: 20px 0;
    max-width: 700px;
}

.banner3-all-elements1,
.banner3-all-elements2,
.banner3-all-elements3 {
   display: grid;
   gap: 20px;
   margin-top: 24px;
}
.banner3-all-elements1 {
    margin-top: 50px;
    border-bottom: 1px solid #aeaeae9a;
}

.banner3-all-elements2 {
    border-bottom: 1px solid #aeaeae9a;
 }

.banner3-date {
   font-size: 12px;
   letter-spacing: 1px;
   color: #aeaeae;
}

.banner3-title {
    font-size: 20px;
    color: #313131;
    margin-top: 14px;
}
.banner3-infos {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 32px;
}
.banner3-text {
    font-size: 13px;
    max-width: 230px;
}
.banner-4-5-6 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #7700ff07;
    padding: 80px 0;
}
.banner4-title,
.banner5-title,
.banner6-title {
    font-size: 19px;
    margin-bottom: 40px;
}

.banner4-text, 
.banner5-text,
.banner6-text {
    margin: 20px 0;
    font-size: 13px;
    max-width: 320px;
}
.banner4-button,
.banner5-button,
.banner6-button {
    color: #FFFFFF;
    padding: 14px 22px;
    border-radius: 30px;
    border: none;
    background-color: #ca3c11;
    cursor: pointer;
}
.banner4-button:hover,
.banner5-button:hover,
.banner6-button:hover {
    transition: all .2s ease-in-out;
    opacity: 50%;
}
.footer {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #000000;
}

.footer-infos {
    padding: 40px;
}

.footer-title {
    color: #FFFFFF;
    margin: 40px 0px;
}

.footer-links-last a,
.footer-links a {
    text-decoration: none;
    color: #aeaeae;
}
.footer-links-last,
.footer-links {
    width: 100%;
    border-bottom: 1px solid #aeaeae;
    padding-right: 40px;
    margin: 10px 0;
    padding-bottom: 10px;
}
.footer-links-last {
    border: none;
}

.footer-links-last:hover a,
.footer-links:hover a {
    transition: all .2s ease-in-out;
    color: #FFFFFF;
}